table, th, td {
    border-collapse: collapse;
}

table th {
    background-color: #4c87af;
    color: white;
}

table th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}